#nooverlay{
    /* display:none; */
    visibility: hidden;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
.contact-section{
    background-color:#fff;
    padding:7px 10px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 0.9em;
}
.contact{
    justify-content: flex-end;
}
.phone{
    padding:0 15px;
    color:#ED1C24;
}
.email-address{
    color: #ED1C24;
}

/* navbar-section */
.navbar-section{
    padding:10px 20px;
    border-bottom: 1px solid #EBEBEB;
    background-color:#fff;
    color:#040F3D;    
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:5;
}
.sticky + .carousel-section {
    padding-top: 80px;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:2;
    opacity: 1  ;
    -webkit-transition: all 10s ease;
        -moz-transition: all 10s ease;
        -o-transition: all 10s ease;
        transition: all 10s ease;
}

.navbar{
    justify-content: space-between;
    width:85%;
    margin:0 auto;
    color:#000 !important;
}

.logo{
    font-weight: 700;
    font-size: 1.4em;
    color:#796AE9;
}

.logo img{
    height:60px;
}

.links{
    padding-top: 20px;
    color:#000 !important;
}
a:link{
    color:#000;
}
.nav-link{
    
    padding:10px 10px;
    position:relative;
    margin-top:10px;
}
.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B76FCB;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.nav-link-special:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #818181;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.in-touch{
    border-radius:20px;
    padding:10px 20px;
    color:#fff !important;
    margin-left:15px;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.2s linear;
}
.in-touch:hover{
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);  
}



/* Carousel Section */
.slider{
    
    display:none;
}

.slider:nth-child(1){
    background: #fff url(../images/carousel/slide-1.jpg) no-repeat center center;
    background-size: cover;
}

.slider:nth-child(2){
    background: #fff url(../images/carousel/slide-2.jpg) no-repeat center center;
    background-size: cover;
}


.carousel{
    position: relative;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.slide{
    position:relative;
    width: 100%;
    background:rgba(0, 0, 0, 0.7);
    padding:100px;
    height:460px;
}

.slide-header-1{
    text-align: center;
    padding-top: 80px;
    color:#fff;
    font-weight:500;
    font-size: 2em;
}
.slide-paragraph-1{
    text-align: center;
    color:#fff;
    padding-top:20px;
    font-size: 1.2em;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
  }
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(209, 209, 209);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 7px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

/* Hero Section */
/* .hero{
    width:85%;
    justify-content: space-between;
    margin:0 auto;
}

.hero-content{
    background:#EF4834;
    background: #CB356B;  fallback for old browsers
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #BD3F32, #CB356B); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    height:auto;
    padding:40px;
    color:#fff;
}

.hero-heading{
    position:relative;
    font-weight: 700;
    font-size:1em;
    padding-bottom:20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.hero-heading::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 3px;
    background:#dfdfdf;
}

.hero-paragraph{
    font-size:1.3em;
    line-height:1.2em;
    padding: 20px 0;
}

.hero-image{
    position: relative;
    background:transparent url(../images/top-image.jpg) no-repeat center center;
    background-size:cover;
    background-color:#818181;
    border-bottom-right-radius: 40px;
}

.hero-image img{
    width:100%;
    height:auto;
} */

/* Product Overview */
.product-overview{
    width:80%;
    margin:0 auto;
    padding:60px 0;
}

.product-heading{
    font-size: 2em;
    color:#7a7a7a;
    font-weight:700;
    position: relative;
    padding-bottom: 10px
}

.product{
    justify-content: space-around;
    padding:30px 0;
}

.sms-reasons{
    background:#fff;
    width:33.3%;
    height:auto;
    margin: 0 20px;
    border-radius:10px;
    padding:30px;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
}
.reason-heading{
    font-weight:700;
    letter-spacing: 1px;
    color: #ED1C24;
    font-size: 1.2em;
}

.reason-paragraph{
    color:#7a7a7a;
    padding: 10px 0;
    font-size: 1em;
    line-height: 1.6em;
}

/* Service section */

.services-section{
    padding:60px 20px;
    margin:0 auto;
    width:100%;
    background:#7567F8;
}

.services{
    width:90%;
    position:relative;
    margin:0 auto;
    justify-content: space-between;
}
.services .row{
    
    padding:20px 0;
}
.services-main{
    width:30%;
}

.service-product{
    color:#fff;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.services-heading{
    font-size: 2.3em;
    color:#f1f1f1;
    font-weight:700;
    padding-top:30px;
}

.services-paragraph{
    color:#fff;
    padding-top:30px;
}

.product-in-touch{
    padding:80px 0 0 0;
}

.product-in-touch a{
    padding:12px 30px;
    color:#fff;
    border-radius: 20px;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.2s linear;
}

.product-in-touch a:hover{
    -webkit-box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.3);
}

.services-menu{
    width:70%;
}
.products{
    width:100%;

}

.prod-img{
    width:20% !important;
}

.prod-details{
    width:80% !important;
    padding-left:15px !important;
}
.products .row{
    width:50%;
    justify-content: space-around;
}

.product-image{
    position:relative;
    text-align: right;
    padding-right: 10px;
}

.product-image img{
    width:50px;
    height:50px;
    position:relative;
    right:0;
    
}

.heading-product{
    color:#fff;
    font-weight: 700;
}
.paragraph-product{
    color:#fff;
    padding-top:10px;
}

/* Customer section */
.customer{
    width:80%;
    margin: 0 auto;
}
.customer-section{
    padding:60px 0 40px 0;
    background:rgb(248, 248, 248);
}
.customer-row{
    width:50%;
    padding:10px 20px;
}

.customer-image img{
    width:100%;
    height:auto;
}

.customer-heading{
    font-weight:700;
    font-size:2.3em;
    color:rgb(255, 94, 77);
    padding:20px 0;
}

.customer-paragraph{
    color:#7e7e7e;
    line-height:1.8em;
}

/* automation section */
/* .automation-section{
    background:#6F49E8;
    background: #FF512F;  fallback for old browsers
background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #DD2476, #FF512F); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

    padding: 50px 10px 10px 10px;
    position:relative;
    z-index: 2;

}
.automation-section::after{
    content: "";
    background: #6F49E8;
    background: #FF512F;  fallback for old browsers
background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #DD2476, #FF512F); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

    height: 80px;
    transform: skewY(2deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom:-30px;
}
.automation{
    padding:30px;
    width:80%;
    margin:0 auto;
    text-align: center;
    color:rgb(243, 243, 243);
    
}
.auto-header{
    font-size: 2.2em;
    font-weight:700;
    letter-spacing: 3px;
    padding:20px 0;
}
.auto-paragraph{
    font-size: 1.5em;
    line-height: 1.2em;
}
.auto-contact{
    padding:20px;
    margin-top:20px;
    z-index: 30;
}

.auto-contact a{
    background:#fff;
    font-size:1.3em;
    padding:15px 40px;
    font-weight:700;
    color:#818181;
    border-bottom-left-radius:20px;
    
}

.auto-contact a:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 12px 2px rgba(255, 255, 255,0.5);
} */

/* Operator section */
.operator-section{
    background:#fff;
    position: relative;
    z-index: -2;
}
.operator{
    width:80%;
    margin:0 auto;
    padding:50px 20px 30px 20px;
}

.operator .row{
    width:50%;
}

.operator-heading{
    font-size:1.9em;
    font-weight:700;
    color:#818181;
    padding-top: 30px;
}
.images .row{
    width:33.3%;
    padding:10px;
}
.operator-img img{
    width:100%;
    height:auto;
    position:relative;
}
.airtel{
    margin-top: -20px;
}

/* call section */

.call-section{
    background:#3A3A3A;
}

.call{
    width:80%;
    margin:0 auto;
    padding:100px 30px;
}

.call .row{
    text-align: center;
    width:100%;
}

.call-heading{
    
    color:#ED1C24;
    font-weight:700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.call-paragraph{
    color:#fff;
    font-size: 2.3em;
    font-weight:700;
    padding:30px 0;
}

.call-feel-free{
    color:#fff;
}
.try-now{
    padding-top: 70px;
    text-align: center;
}

.try-now a{
    color: #fff;
    border:2px solid #fff;
    margin:0 auto;
    padding:10px 60px;
}

/* footer section */
.footer-section{
    background:#3A3A3A;
    padding:10px;
}

.footer{
    width:80%;
    margin:0 auto;
    border-top:1px solid rgb(216, 216, 216);
    
}
.footer .row{
    text-align: center;
    width:100%;
    padding:10px 10px 0 10px;
    color:rgb(168, 168, 168);
}